!!! 5
html
  head
    title Canvas Aquarium

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Reenie+Beanie', type='text/css')
    link(rel="stylesheet", href=labs_url+"/styles/labs_bar.css", type="text/css")
    link(rel="stylesheet", href="/styles/fish.css", type="text/css")
      
  body
    #labs_bar 
        a(href=labs_url) back to Skookum Digital Works Labs
    #container
      != body
      
    script(type="text/javascript", src="js/utility.js")
    script(type="text/javascript", src="js/bubbles.js")
    script(type="text/javascript", src="js/plant.js")
    script(type="text/javascript", src="js/water.js")
    script(type="text/javascript", src="js/aquarium.js")
    script(type="text/javascript", src="js/fish.js")
    script(type="text/javascript", src="js/view.js")
    script(type="text/javascript", src="js/main.js") 
    